<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center box">
    <h1 class="page-title"><%= @expense_group.description %></h1>
    <div class="flex gap-2 items-center">
      <%= link_to "All", group_index_path, class: "link text-sm" %>
      <%= link_to "Add new expense", new_group_expense_path(@expense_group), class: "link" %>
    </div>
  </div>

  <div class="box flex justify-end items-center gap-1">
    <%= link_to "edit", edit_group_path(@expense_group), class: "link  text-sm" %>
    <%= link_to "settle", "#", class: "link text-sm inline-block" %>
    <%= button_to "delete", group_path(@expense_group), method: :delete, data: { turbo_confirm: "Are you sure want to delete this expense group?" }, class: "link text-sm inline-block" %>
  </div>

  <div class="box">
    <div>You owe xxx</div> <div>You have to get xxx from others</div>
    <div>You owe to xxx </div>
    <div>PP owe to you</div>
  </div>

  <div class="box">
    <div class="page-subtitle">Expenses</div>
    <%= render "expenses/list", expenses: @expense_group.expenses %>
  </div>
</div>
