<div data-controller="expense-form">
  <%= simple_form_for expense do |form| %>
    <% if expense.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(expense.errors.count, "error") %> prohibited this expense from being saved:</h2>

        <ul>
          <% expense.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <!-- render templates for associated records forms  -->
    <%= render "expenses/add_payer_form", builder: form %>
    <%= render "expenses/add_debtor_form", builder: form %>

    <div class="box">
      <%= form.input :description, input_html: { class: "input-text m-2", placeholder: "What's this expense for ?" } %>
    </div>

    <div class="box">
      <div data-expense-form-target="addPayer"></div>
      <a data-action="click->expense-form#addPayer" class="link">+ Add payer</a>
    </div>

    <div class="box">
      <div class="p-2">
        <%= form.input :split_equally, as: :boolean, label: "Split equally", checked_value: true, disabled: true,   input_html: { class: "input-check mr-2", checked: "checked", name: "split_equally" } %>
        <div class="text-sm my-2">Only equal split is supported.</div>
      </div>
    </div>

    <div class="box">
      <div data-expense-form-target="addDebtor"></div>
      <a data-action="click->expense-form#addDebtor" class="link">+ Add debtor</a>
    </div>

    <div class="box">
      <%= form.button :submit, "Create expense", class: "btn btn-primary"  %>
    </div>
  <% end %>
</div>