<p style="color: green"><%= notice %></p>

<%= render @expense %>

<div>
  <%= link_to "Edit this expense", edit_group_expense_path(@expense_group, @expense) %> |
  <%= link_to "Back to expenses", group_path(@expense_group) %>

  <%= button_to "Destroy this expense", group_expense_path(@expense_group, @expense), method: :delete %>
</div>
